nav {
  margin: 0 auto;
  text-align: center;
  background-color: orange;
  position: fixed;
}

#home {
  background-color: yellow;
  text-align: center;
}

* body {
  font: 15px Arial, sans-serif;
}

#about-us {
  background-color: red;
  text-align: center;
}

#sun {
  margin: 0;
  border-radius: 50%;
}
